name: Build

on:
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [ipq60xx, ipq807x]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Free Disk Space
        uses: FirelightFlagboy/gh-runner-free-disk-space@main
      - name: Set up build environment
        run: sudo bash -c 'bash <(curl -s https://build-scripts.immortalwrt.org/init_build_environment.sh)'
      - name: Clone code
        run: git clone -b master --single-branch --filter=blob:none https://github.com/immortalwrt/immortalwrt.git
      - name: Update feeds
        run: |
          cat ../feeds.conf.more >> feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
        working-directory: ./immortalwrt
      - name: Patch source code
        run: bash ../patch.sh
        working-directory: ./immortalwrt
      - name: Make configuration
        run: |
          cat ../common.config > .config
          cat ../${{ matrix.target }}.config >> .config
          make defconfig
          cat .config
        working-directory: ./immortalwrt
      - name: Download sources
        run: make download -j$(nproc) V=s
        working-directory: ./immortalwrt
      - name: Build firmware
        run: make -j$(nproc) V=w
        working-directory: ./immortalwrt
      - name: Prepare artifacts
        run: |
          ls -la immortalwrt/bin/targets/*/*
          mkdir -p ./out/
          cp immortalwrt/bin/targets/*/*/*.{bin,img,itb,ubi} ./out/ 2>/dev/null || true
          cp immortalwrt/bin/targets/*/*/config.buildinfo ./out/${{ matrix.target }}.config.buildinfo
          cp immortalwrt/bin/targets/*/*/*.manifest ./out/
      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.target }}
          path: ./out/*

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./release-files
          merge-multiple: true
      - name: Generate Tag & Name
        id: vars
        run: |
          echo "TAG=$(date -u '+%Y.%m.%d-%H%M')" >> $GITHUB_OUTPUT
          echo "CURRENT_DATE=$(date -u '+%y%m%d%H%M')" >> $GITHUB_OUTPUT
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: "ImmortalWrt Build - ${{ steps.vars.outputs.CURRENT_DATE }}"
          tag_name: ${{ steps.vars.outputs.TAG }}
          files: |
            ./release-files/*
